@model ApiRestCliente.Models.ListaDatos
@{ ViewData["Title"] = "Index"; }

<link rel="stylesheet" href="~/css/SideStyleProducto.css" />
<center>
    <h1>Catalogo de productos</h1>
</center>
<br />

<div class="contenedor">

    <div class="form-group">
        <a asp-controller="Producto" asp-action="Categoria" class="btn btn-primary">Agregar producto</a>
    </div>
    @foreach (var producto in Model.Productos)
    {
        <div class="row" style="align-items:center">
            <section>
                <div class="info">
                    <h5>@Html.DisplayFor(modelItem => producto.Nombre)</h5>
                    <div class="row">
                        <section>
                            <div class="form-group col-md-2" style="width:100px">
                                <label>Código: </label>
                                <br />
                                <label>@Html.DisplayFor(modelItem => producto.IdProducto)</label>
                            </div>
                        </section>
                        <section>
                            <div class="form-group col-md-3" style="width:200px">
                                <label>Categoría:</label>
                                <br />
                                <label>@Html.DisplayFor(modelItem => producto.Categoria)</label>
                            </div>
                        </section>
                        <section>
                            <div class="form-group col-md-3" style="width:150px">
                                <label>Costo:</label>
                                <br />
                                <label> @Html.DisplayFor(modelItem => producto.ValorVenta)</label>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="contenedor">
                <div class="form-group" >
                    <h5>Opciones</h5>
                    <a asp-action="Detalles" asp-route-id="@producto.IdProducto" class="btn btn-primary" style="padding:10px 20px 10px 20px">Detalles</a>
                    <a asp-action="Modificar" asp-route-id="@producto.IdProducto" class="btn btn-primary"style="padding:10px 20px 10px 20px">Modificar</a>
                    <a asp-action="Eliminar" asp-route-id="@producto.IdProducto" class="btn btn-primary" style="padding:10px 20px 10px 20px">Eliminar</a>
                </div>
            </section>
        </div>
        <br />
    }
</div>
    